<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>conceitos fundamentais</title>
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Aula 1: Requisição HTTP (hx-get com post) -->
    <h1>Aula 1</h1>
    <button hx-post="http://localhost:3000/post" hx-target="#result">enviar post</button>
    <div id="result"></div>

    <!-- Aula 2: Continuando com Put e Delete -->
    <h1>Aula 2</h1>
    <button hx-put="http://localhost:3000/put" hx-target="#result-put">enviar put</button>
    <div id="result-put"></div>

    <button hx-delete="http://localhost:3000/delete" hx-target="#result-delete">enviar delete</button>
    <div id="result-delete"></div>

    <!-- Aula 3: Gatilho de Requisição (hx-trigger) -->
    <h3>Aula 3</h3>
    <input type="text" hx-get="http://localhost:3000/trigger" hx-target="#result-trigger"  hx-trigger="keyup">
    <div id="result-trigger"></div>
</body>
</html>