<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>conceitos fundamentais</title>
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styles.css">
    <script src="script.js" defer></script>
</head>
<body>
    <!-- Aula 1: Requisição HTTP (hx-get com post) -->
    <h2>Aula 1</h2>
    <button hx-post="http://localhost:3000/post" hx-target="#result">enviar post</button>
    <div id="result"></div>

    <!-- Aula 2: Continuando com Put e Delete -->
    <h2>Aula 2</h2>
    <button hx-put="http://localhost:3000/put" hx-target="#result-put">enviar put</button>
    <div id="result-put"></div>

    <button hx-delete="http://localhost:3000/delete" hx-target="#result-delete">enviar delete</button>
    <div id="result-delete"></div>

    <!-- Aula 3: Gatilho de Requisição (hx-trigger) -->
    <h2>Aula 3</h2>
    <input type="text" hx-get="http://localhost:3000/trigger" hx-target="#result-trigger"  hx-trigger="keyup">
    <div id="result-trigger"></div>

    <!-- Aula 4: Modificador de Trigger (evento once, delay e evento por outro elemento) -->
    <h2>Aula 4</h2>
    <button hx-get="http://localhost:3000/once" hx-target="#result-once" hx-trigger="click once">
        clique uma vez
    </button>
    <div id="result-once"></div>

    <button hx-get="http://localhost:3000/delay" hx-target="#result-delay" hx-trigger="click delay:2000ms">
        delay de 2 segundos
    </button>
    <div id="result-delay"></div>

    <button id="external-trigger">Clique para acionar</button>
    <button id="trigger-button" hx-get="http://localhost:3000/external" hx-target="#result-external" hx-trigger="click from:#external-trigger">
        delay de 2 segundos
    </button>
    <div id="result-external"></div>

    <!-- Aula 5: Filtros de Trigger -->
    <h2>Aula 5</h2>
    <button hx-get="http://localhost:3000/control-click" hx-target="#result-control-click" hx-trigger="click[ctrlKey]">
        Control click
    </button>
    <div id="result-control-click"></div>

    <button hx-get="http://localhost:3000/global-condition" hx-target="#result-global-condition" hx-trigger="click[checkCondition()]">
        Trigger com funcao js
    </button>
    <div id="result-global-condition"></div>

    <!-- Aula 6: Eventos Especiais (load, revealed, intersect, threshold) -->
    <h2>Aula 6</h2>
    <div hx-get="http://localhost:3000/load" hx-target="#result-load" hx-trigger="load"></div>
    <div id="result-load"></div>

    <div id="div-revealed" hx-get="http://localhost:3000/revealed" hx-target="#result-revealed" hx-trigger="revealed"></div>
    <div id="result-revealed"></div>

    <!-- Aula 7: Polling -->
    <!-- 
    <h2>Aula 7</h2>
    <div id="div-polling" hx-get="http://localhost:3000/polling" hx-target="#result-polling" hx-trigger="every 5s"></div>
    <div id="result-polling"></div>
    -->

    <!-- Aula 8: Indicador de Progresso com HTMX -->
    <h2>Aula 8</h2>
    <button hx-get="http://localhost:3000/progress" hx-target="#result-progress" hx-indicator="#loading-indicator">
        Iniciar requisicao
    </button>
    <div id="result-progress"></div>
    <div id="loading-indicator">Carregando ....</div>
</body>
</html>