<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/htmx/1.9.10/htmx.min.js"
        integrity="sha512-9qpauSP4+dDIldsrdNEZ2Z7JoyLZGfJsAP2wfXnc3drOh+5NXOBxjlq3sGXKdulmN9W+iwLxRt42zKMa8AHEeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/script.js" defer></script>
    <link rel="stylesheet" href="/css/output.css">
    <title><%- title %></title>
</head>

<body class="bg-zinc-900 text-white">

    <%- include("partials/toast") -%>

    <div>
        <%- include(template) -%>
    </div>

</body>

</html>