<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carregamento com htmx</title>
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
</head>
<body>
    <h2>Aula 1</h2>
    <button hx-get="http://localhost:3000/content" hx-target=".targetDiv">Atualizar conteudo</button>
    <div class="targetDiv"></div>

    <h2>Aula 2</h2>
    <button hx-get="http://localhost:3000/newContent" hx-target="#swapContent">
        Atualizar conteudo
    </button>

    <button hx-get="http://localhost:3000/newContent" hx-target="#swapContent" hx-swap="innerHTML">
        Atualizar conteudo com swap
    </button>
    
    <div id="swapContent"></div>

    <h2>Aula 3</h2>
    
    <div id="swapArea">
        <button hx-get="http://localhost:3000/content" hx-target="#swapArea" hx-swap="afterbegin">
            After begin
        </button>
        <button hx-get="http://localhost:3000/content" hx-target="#swapArea" hx-swap="beforebegin">
            Before begin
        </button>
    </div>
</body>
</html>